*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Hice estas correcciones en img*/
img{
    width: 100%;
}

/* Correcciones en id*/
#paisaje {
    position: relative;
    width: 80%;
    margin: 30px auto 0 auto;
}

/* Faltan propiedades para p */